{% extends "parent.html" %}
{% block head %}
{% endblock %}
{% block page_name %}Rock Willow Accounts{% endblock %}

{% block body %}
<div class="content-section">
    <form method="POST", action="">
        {{ form.hidden_tag() }}
        <legend>Add a new account</legend>
        <fieldset class="row">
            <div class="col">
                {{form.account_name.label(class="form-control-label")}}
                {{form.account_name(class="form-control", autofocus=true)}}
            </div>
            <div class="col">
                {{form.account_type.label(class="form-control-label")}}
                {{form.account_type(class="form-control")}}
            </div>
        </fieldset>
        <fieldset class="row">
            <div class="col">
                {{form.payment_day.label(class="form-control-label")}}
                {{form.payment_day(class="form-control")}}
            </div>
            <div class="col">
                {{form.statement_day.label(class="form-control-label")}}
                {{form.statement_day(class="form-control")}}
            </div>
            <div class="col">
                {{form.rewards_features.label(class="form-control-label")}}
                {{form.rewards_features(class="form-control")}}
            </div>
        </fieldset>
        <div class="form-group">{{form.submit(class="btn btn-outline-info")}}</div>
    </form>
</div>
<div class="content-section">
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Account Name</th>
            <th scope="col">Account Type</th>
            <th scope="col">Payment Due</th>
            <th scope="col">Statement Date</th>
            <th scope="col">Rewards Features</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts if account != None %}
        <tr>
            <td>{{ account.account_name }}</td>
            <td>{{ account.account_type }}</td>
            <td>{{ account.payment_day }}</td>
            <td>{{ account.statement_day }}</td>
            <td>{{ account.rewards_features }}</td>
            <td>
                <a href="{{ url_for("update_account",accountid=account.accountid) }}" class="btn btn-outline-info">
                    Update
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
<div class="content-section">
    <h2>Upcoming Features</h2>
    <ul>
        
    </ul>
</div>
{% endblock %}