{% extends "parent.html" %}
{% block head %}
{% endblock %}
{% block page_name %}Update Category{% endblock %}

{% block body %}
<div class="content-section">
    <div>
        <form method="POST", action="">
            {{ form.hidden_tag() }}
            <fieldset >
                <div class="form-group">{{form.category_name.label(class="form-control")}}</div>
                <div class="form-group">{{form.category_name(class="form-control", list="category-list", value=category.category_name)}}</div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
                <a href="{{ url_for("categories") }}" class="btn btn-outline-info">Back</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}