{% extends "parent.html" %}
{% block head %}
{% endblock %}
{% block page_name %}Rock Willow Transaction Categories{% endblock %}

{% block body %}
<div class="content-section">
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Category Name</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category[1] }}</td>
            <td>
                <a href="{{ url_for("update_category",categoryid=category[0]) }}" class="btn btn-outline-info">
                    Update
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
<div class="content-section">
    <div>
        <form method="POST", action="">
            {{ form.hidden_tag() }}
            <fieldset >
                <div class="form-group">{{form.category_name.label(class="form-control")}}</div>
                <div class="form-group">{{form.category_name(class="form-control", list="category-list")}}</div>
                <datalist id="category-list">
                    {% for category in categories %}
                        <option value="{{ category[1] }}"></option>
                    {% endfor %}
                </datalist>
            </fieldset>
            <div class="form-group">{{form.submit(class="btn btn-outline-info")}}</div>
        </form>
    </div>
</div>
{% endblock %}