{% extends "parent.html" %}
{% block page_name %}Rock Willow Finances{% endblock %}

{% block body %}
<div class="content-section">
    <div id="summary-header">
        <a class="btn btn-outline-info" href={{ url_for("summary", year=last_month['year'], month=last_month['month']) }}>
            {{ last_month['disp'] }}</a>
        <h1>Cashflow for {{ month }}</h1>
        <a class="btn btn-outline-info" href={{ url_for("summary", year=next_month['year'], month=next_month['month']) }}>
            {{ next_month['disp'] }}</a>
    </div>
    <div id="cashflow-summary">
        <div id="month-summary">
            <div id="month-header" class="flex-center">
                <h2>Monthly Summary</h2>
            </div>
            <div id="month-values">
                <div id="month-remain" class="flex-center">
                    <p>Cash Remaining: {{ cashflow["sum"]["remain"] }}</p>
                </div>
                <div id="month-in-out" class="flex-center gap20">
                    <p>Cash In: {{ cashflow["sum"]["income"] }}</p>
                    <p>Cash Out: {{ cashflow["sum"]["expens"] }}</p>
                </div>
            </div>
        </div>
        <div id="paycheck-1">
            <div id="paycheck-1-header" class="flex-center">
                <h2>First Half</h2>
            </div>
            <div id="paycheck-1-values">
                <div id="paycheck-1-remain" class="flex-center">
                    <p>Cash Remaining: {{ cashflow["top"]["remain"] }}</p>
                </div>
                <div id="paycheck-1-in-out" class="flex-center gap20">
                    <p>Cash In: {{ cashflow["top"]["income"] }}</p>
                    <p>Cash Out: {{ cashflow["top"]["expens"] }}</p>
                </div>
            </div>
        </div>
        <div id="paycheck-2">
            <div id="paycheck-2-header" class="flex-center">
                <h2>Second Half</h2>
            </div>
            <div id="paycheck-2-values">
                <div id="paycheck-2-remain" class="flex-center">
                    <p>Cash Remaining: {{ cashflow["bot"]["remain"] }}</p>
                </div>
                <div id="paycheck-2-in-out" class="flex-center gap20">
                    <p>Cash In: {{ cashflow["bot"]["income"] }}</p>
                    <p>Cash Out: {{ cashflow["bot"]["expens"] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h4>Credit Card Balances</h4>
        <table>
            <thead>
            <tr>
                <th>Account</th>
                <th>Charges</th>
                <th>Payments</th>
                <th>Current Balance</th>
                <th>Pending Balance</th>
            </tr>
            </thead>
            <tbody>
                {% for card_index, card in cashflow["accounts"].iterrows() %}
                <tr>
                    <td> {{ card['account_name'] }}</td>
                    <td>${{ card['chg_bal'] }}</td>
                    <td>${{ card['pmt_bal'] }}</td>
                    <td>${{ card['cur_bal'] }}</td>
                    <td>${{ card['pnd_bal'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="content-section">
    <canvas id="cashflow-chart" width="200" height="100"></canvas>
</div>
<div class="content-section">
    <div>Summary Info will go here</div>
    <div>Interactive Charts</div>
</div>
{% endblock %}
{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById("cashflow-chart").getContext('2d')
        const cashflow_chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    {% for month in cashflow_chart['months'] %}
                        "{{month}}",
                    {% endfor %}
                ],
                datasets: [{
                    label: '1-14',
                    data: [
                        {% for amount in cashflow_chart['top'] %}
                            "{{amount}}",
                        {% endfor %}
                    ],
                    stack: 'Stack 0'
                }, {
                    label: '15-EOM',
                    data: [
                        {% for amount in cashflow_chart['bot'] %}
                            "{{amount}}",
                        {% endfor %}
                    ],
                    stack: 'Stack 0'
                }, {
                    label: 'Total',
                    data: [
                        {% for amount in cashflow_chart['total'] %}
                            "{{amount}}",
                        {% endfor %}
                    ],
                    type: 'line',
                }]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true
                    }
                }
            }
        })
    </script>
{% endblock %}