{% extends "parent.html" %}
{% block head %}
{% endblock %}
{% block page_name %}Rock Willow Finances{% endblock %}

{% block body %}
<div class="content-section">
    <h1>Cashflow for {{ month }}</h1>
    <div>
        <h2>First Paycheck</h2>
        Remaining: ${{ cashflow["top"]["remain"]}}
        <br>
        Income: ${{ cashflow["top"]["income"]}} <br />
        Expenses: ${{ cashflow["top"]["expens"]}}
        <h4>Credit Card Balances</h4>
        <table>
            <thead>
            <tr>
                <th>Account</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
                {% for acct_name, account in cashflow["top"]["accounts"].iterrows() %}
                <tr>
                    <td>{{ acct_name }}</td>
                    <td>${{ account['amount'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h2>Second Paycheck</h2>
        Remaining: ${{ cashflow["bot"]["remain"]}}
        <br>
        Income: ${{ cashflow["bot"]["income"]}} <br />
        Expenses: ${{ cashflow["bot"]["expens"]}}
        <h4>Credit Card Balances</h4>
        <table>
            <thead>
            <tr>
                <th>Account</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
                {% for acct_name, account in cashflow["bot"]["accounts"].iterrows() %}
                <tr>
                    <td>{{ acct_name }}</td>
                    <td>${{ account['amount'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="content-section">
    <div>Summary Info will go here</div>
    <div>Interactive Charts</div>
</div>
{% endblock %}