{% extends "parent.html" %}
{% block head %}
{% endblock %}
{% block page_name %}Rock Willow Transactions{% endblock %}

{% block body %}
<div class="content-section">
    <a href="{{url_for("new_account")}}" class="btn btn-outline-info">Add Account</a>
    <a href="{{url_for("new_budget")}}" class="btn btn-outline-info">Add Budget</a>
    <a href="{{url_for("new_category")}}" class="btn btn-outline-info">Add Category</a>
    <a href="{{url_for("new_recurring_transaction")}}" class="btn btn-outline-info">Add Recurring Transaction</a>
    <a href="{{url_for("apply_recurring_transactions")}}" class="btn btn-outline-info">Apply Recurring Transactions</a>
</div>
<div class="content-section">
    <form method="POST", action="">
        {{ form.hidden_tag() }}
        <fieldset class="row">
            <div class="col">
                {{form.transaction_date.label(class="form-control-label")}}
                {{form.transaction_date(class="form-control", autofocus=true)}}
            </div>
            <div class="col">
                {{form.transaction_type.label(class="form-control-label")}}
                {{form.transaction_type(class="form-control")}}
            </div>
            <div class="col">
                {{form.merchant_name.label(class="form-control-label")}}
                {{form.merchant_name(class="form-control", placeholder="Merchant Name", list="merchant-data-list")}}
                {# ToDo: Change to dropdown when transaction type is Transfer or Card Pmnt #}
                {# datalist is not ideal for this because it can't be hidden, options show up at the end #}
                <datalist id="merchant-data-list">
                    {% for entry in ['datalist1','datalist2','datalist3'] %}
                    <option value="{{ entry }}"></option>
                    {% endfor %}
                </datalist>
                {{ form.transfer_account.label(class="form-control-label hidden") }}
                {{ form.transfer_account(class="form-control hidden") }}
            </div>
        </fieldset>
        <fieldset class="row">
            <div class="col">
                {{form.amount.label(class="form-control-label")}}
                {{form.amount(class="form-control")}}
            </div>
            <div class="col">
                {{form.account.label(class="form-control-label")}}
                {{form.account(class="form-control")}}
            </div>
            <div class="col">
                {{form.category.label(class="form-control-label")}}
                {{form.category(class="form-control")}}
            </div>
            <div class="col">
                {{form.note.label(class="form-control-label")}}
                {{form.note(class="form-control")}}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>
<div class="content-section">
    <a href="{{url_for("all_transactions")}}" class="btn btn-outline-info">Load All Transactions</a>
</div>
<div class="content-section">
    <div class="accordion" id="transaction-accordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="pending-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pending-transactions" aria-expanded="false" aria-controls="pending-transactions">
                    Pending transactions
                </button>
            </h2>
            <div id="pending-transactions" class="accordion-collapse collapse" aria-labelledby="pending-header" data-bs-parent="transaction-accordion">
                <div class="accordion-body">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Merchant</th>
                            <th scope="col">Category</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Account</th>
                            <th scope="col">Type</th>
                            <th scope="col">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for transaction in pending_transactions if not transaction == None %}
                        <tr>
                            <th scope="row">{{transaction.transaction.transaction_date}}</th>
                            <td>{{transaction.transaction.merchant_name}}</td>
                            <td>{{transaction.category.category_name}}</td>
                            <td>${{transaction.transaction.amount}}</td>
                            <td>{{transaction.account.account_name}}</td>
                            <td>{{transaction.transaction.transaction_type}}</td>
                            <td>{{transaction.transaction.note}}</td>
                            <td class="td-inputcontrol">
                                <a class="btn btn-outline-info" href={{url_for("update_transaction", transactionid=transaction['transaction'].transactionid)}}>Update</a>
                                <a class="btn btn-outline-info" href={{url_for("delete_transaction", transactionid=transaction['transaction'].transactionid)}}>Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header" id="posted-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#posted-transactions" aria-expanded="true" aria-controls="posted-transactions">
                    Posted transactions
                </button>
            </h2>
            <div id="posted-transactions" class="accordion-collapse collapse show" aria-labelledby="posted-header" data-bs-parent="transaction-accordion">
                <div class="accordion-body">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Merchant</th>
                            <th scope="col">Category</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Account</th>
                            <th scope="col">Type</th>
                            <th scope="col">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for transaction in current_transactions if not transaction == None %}
                        <tr>
                            <th scope="row">{{transaction.transaction.transaction_date}}</th>
                            <td>{{transaction.transaction.merchant_name}}</td>
                            <td>{{transaction.category.category_name}}</td>
                            <td>${{transaction.transaction.amount}}</td>
                            <td>{{transaction.account.account_name}}</td>
                            <td>{{transaction.transaction.transaction_type}}</td>
                            <td>{{transaction.transaction.note}}</td>
                            <td class="td-inputcontrol">
                                <a class="btn btn-outline-info" href={{url_for("update_transaction", transactionid=transaction['transaction'].transactionid)}}>Update</a>
                                <a class="btn btn-outline-info" href={{url_for("delete_transaction", transactionid=transaction['transaction'].transactionid)}}>Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="past-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#past-transactions" aria-expanded="false" aria-controls="past-transactions">
                    Past transactions
                </button>
            </h2>
            <div id="past-transactions" class="accordion-collapse collapse" aria-labelledby="past-header" data-bs-parent="transaction-accordion">
                <div class="accordion-body">
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Merchant</th>
                            <th scope="col">Category</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Account</th>
                            <th scope="col">Type</th>
                            <th scope="col">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for transaction in past_transactions if not transaction == None %}
                        <tr>
                            <th scope="row">{{transaction.transaction.transaction_date}}</th>
                            <td>{{transaction.transaction.merchant_name}}</td>
                            <td>{{transaction.category.category_name}}</td>
                            <td>${{transaction.transaction.amount}}</td>
                            <td>{{transaction.account.account_name}}</td>
                            <td>{{transaction.transaction.transaction_type}}</td>
                            <td>{{transaction.transaction.note}}</td>
                            <td class="td-inputcontrol">
                                <a class="btn btn-outline-info" href={{url_for("update_transaction", transactionid=transaction['transaction'].transactionid)}}>Update</a>
                                <a class="btn btn-outline-info" href={{url_for("delete_transaction", transactionid=transaction['transaction'].transactionid)}}>Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-section">
    <h2>Upcoming Features</h2>
    <ul>
        <li>#ToDo: Split Transactions</li>
        <li>#ToDo: Import Transactions</li>
        <li>#ToDo: Export Transactions</li>
        <li>#ToDo: Paginate by Month and Year</li>
        <li>#ToDo: Confirm transaction delete</li>
    </ul>
</div>
{% endblock %}

{% block javascript %}
 <script type="text/javascript" src={{ url_for("static", filename="js/transactions.js") }}></script>
{% endblock %}